.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
extension-disabler.code-workspace
.eslintrc.json
tsconfig.json
.git/**
.history/**
.vscodeignore